<p><strong>Clue: </strong><%= @game.clue %><p>
<p><strong>Remaining attempts: </strong> <%= @game.remaining_attempts %></p>
<h1 style="text-align: center;"><%= show_board(@game) %></h1>

<!-- <form action="/attack">
  <input type="submit" value="Attack">
</form> -->