<form action="/game_data" method="post">
  <input type="text" name="word" placeholder="Type a word..." /><br>
  <input type="text" name="clue" placeholder="Type a clue..." /><br>
  <br>
	<input class="btn btn-warning" type="submit" value="Submit">
</form>
